$blue: #0061AA;
$dark-blue: #00345b;
$darkest-blue: #002a49;
$light-blue: #267aaa;
$green: #55A97b;
$white: #FFFFFF;
$red: #d45d51;
$orange: #ff8522;
$black: #000000;
$grey: #acb0b4;
$light-grey: #F1F1F1;
$light-grey-2: #FBFBFB;
$grey : #CACACA;
$tablet-width: 768px;
$pc-width: 1024px;

$font-size-10: 10px;
$font-size-12: 12px;
$font-size-15 : 15px;
$font-size-17 : 17px;
$font-size-18 : 18px;
$font-size-24 : 24px;

$main-font-family:	Open Sans Regular;

.padding-left-20 {
    padding-left: 20px;
}
