$blue: #0061AA;
$dark-blue: #00345b;
$light-blue: #267aaa;
$green: #55A97b;
$white: #FFFFFF;
$red: #d45d51;
$orange: #ff8522;
$black: #000000;
$grey: #acb0b4;
$light-grey: #F1F1F1;
$light-grey-2: #FBFBFB;

$tablet-width: 768px;
$pc-width: 1024px;

$font-size-18 : 18px;
$font-size-17 : 17px;

