@import "components/_buttons.scss";

* {
    font-family: Open Sans, sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.view {
    height: 100%;
}

body {
  background-color: $light-grey !important;
  outline: none;
}

.content {
    background-color: $white;
    margin: 0 auto;
    height: 100%;    
    box-shadow: 1px 1px 2px rgba(0,0,0,0.25);
    border-style: solid;
    border-width: 1px;
    border-color: $grey;
}

.clear-float {
    clear: both;
}

.disable-select {
  -webkit-user-select: none;  
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;
}

@media screen and (min-width: 1024px) {
    .content {
        width: $pc-width;
    }
}

@media screen and (max-width: 768px) {
     .content {
        width: $tablet-width;
    }
}

