@import "../_general";

$dropdown-border : none !default;
$dropdown-text-color: $white !default;
$dropdown-background-color: transparent !default;
$dropdown-text-color-hover: $white !default;
$dropdown-background-color-hover: transparent !default;
$dropdown-text-color-active: $white !default;
$dropdown-background-color-active: transparent !default;
$dropdown-selected-item-background-color: $blue !default;
$dropdown-selected-item-text-color: $white !default;
$dropdown-list-max-height: 370px !default;


select {
	width: 425px;
	height: 45px;
	float: left;
	font-size: $font-size-17;
	// margin-top: $top-botton-input-margin;
}

.custom-dropdown {
    > .btn-primary {
        background-color: $dropdown-background-color;
        color: $dropdown-text-color;
        border: $dropdown-border;
        
        &:hover {
            background-color: $dropdown-background-color-hover;
            color: $dropdown-text-color-hover;
        }
        
        &:focus {
            outline: none;
        }
        
        span {
           outline: none;
        }
        
        i {
            margin-left: 10px;
            @extend .fa-caret-down;
        }
    }
    
    &.open {
        > .btn-primary.dropdown-toggle {
            background-color: $dropdown-background-color-active;
            color: $dropdown-text-color-active;
                
           i {
               @extend .fa-caret-up;
           }
        }
        
        ul {
            border-radius: 0px;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.25);
            margin-top: 0px;
            min-width: 300px;
            padding: 0px;
            max-height: $dropdown-list-max-height;
            overflow-y: auto;
            overflow-x: hidden;
            
            li {
                font-size: 15px;
                height: 45px;
                border-bottom: 1px solid $light-grey;
                
                a {
                   line-height: 40px; 
                   
                   &.selected, &.selected:hover {
                        background-color: $dropdown-selected-item-background-color;
                        color: $dropdown-selected-item-text-color;
                    }
                }
            }
        }
    }
}
