@import "../_general";



.switch-row {

	height: 60px;
	
	padding-left: $right-left-input-padding;
	padding-right: $right-left-input-padding;

	.switch  {
		
	 	small{
	 		height: 28px;
	 	}
	 	
}
}


