@import "../_general";

$table-header-background: #004d66;
$table-header-font-color:white;
$row-height : 55px;

.table{
	margin-bottom: 0;	
}



table {
	font-size: $font-size-17;

	thead{
		background-color: $dark-blue;
		color: $white;
	}

	tbody{
		background-color: $white;		
	}


	.unit-tr {
			height: $row-height;				 
			td {					
				width: 75px;			
				padding:10px;
				height: $row-height;
			    text-align:center; 
	 			vertical-align:middle !important;
				input {
						height: 100%;
						width: 55px;
						text-align: center;
					}
				}

			.first-td{
				width: 100% !important;
				text-align: left;
				vertical-align: middle;
				input{
					width: 100%;
					text-align: left;
					
				} 
			}

			.action-td{
				width: 45px;
				height: 45px ;
			}	

			.editable-td{
				width: 80px;
			}

			.select-td {
				width: 120px;
			}
				 		
		}

	.unit-header-tr {
		@extend  .unit-tr;
			td {
				border: 1px solid $grey;
                vertical-align: center;
                text-align: center;
			}
	}

	}