@import "../_general";

$table-header-background: #004d66;
$table-header-font-color:white;
$row-height : 55px;

table {
	font-size: $font-size-17;

	thead{
		background-color: $dark-blue;
		color: $white;
	}

	tbody{
		background-color: $white;	
	}

	.unit-tr {
			height: $row-height;				 

			td {	
				max-width: 75px;	
				width: 75px;
				padding:10px;
			    text-align:center; 
	 			vertical-align:middle;
				input {
						width: 75px;
						text-align: center;
					}
				}

			.first-td{
				width: 100% !important;
				text-align: left;
				vertical-align: middle;
				input{
					width: 100%;
					text-align: left;
					outline: none;
				}
			}

			.actionTd{
				width: 55px;
				height: 55px;
			}	
				 		
		}



		

	}