@import "../_general";

$requisition-table-header-background: $dark-blue !default;
$table-header-font-color: $white !default;
$row-height : 55px;

.requisitions-table {
    font-size: $font-size-17;
    
    thead {
		background-color: $requisition-table-header-background;
		color: $table-header-font-color;

		tr td,tr th {
		   border:none;
		}
	}
    
    tbody{
		background-color: $white;	
	}

	.req-item-table-header {
			background-color: $dark-blue ;
		
		
	}


	.unit-tr {
        height: $row-height;				 

        td {	
            // max-width: 75px;	
            width: 75px;
            padding:10px;
            height: $row-height;
            text-align:center; 
            vertical-align:middle;
            input {
                    height: 100%;
                    width: 55px;
                    text-align: center;
                }
            }

        .first-td{
            width: 100% !important;
            text-align: left;
            vertical-align: middle;
            input{
                width: 100%;
                text-align: left;
                
            } 
        }

        .actionTd{
            width: 55px;
            height: 55px;
        }	

        .editable-td{
            width: 80px;
        }
    }
}

.table-view {
    font-size: $font-size-15;
    width: 100%;
    table-layout: fixed;
    
    .table-header {
        border-bottom: 1px solid $light-grey; 
        
        td {
            padding: 10px 0px;
        }
        
        a {
            color: $black;
            text-decoration: none;
            outline: none;
            
            i {
                color: $grey;
            }
            
            &.reverse {
                i {
                    @extend .fa-caret-up;
                }
            }
            
            &.selected {
                i {
                    @extend .fa-caret-down;
                    color: $blue;
                }
            }
        }
    }
    
    tbody {
        height: 100%;
        overflow-y: auto;
        
        .table-row {
            height: 70px;
            border-bottom: 1px solid $light-grey;
        }
        
        .no-items {
            text-align: center;
            height: 70px;
            border-bottom: 1px solid $light-grey;
        }
    }
}
