@import "../_general";

$table-header-background: $table-header-background !default;
$table-header-font-color:white;
$row-height : 55px;

table {
	font-size: $font-size-17;

	thead{
		background-color: $table-header-background;
		color: $white;

		td, th {
		   border:none;
		}
	}

	tbody{
		background-color: $white;	
	}

	.unit-tr {
			height: $row-height;				 

			td {	
				// max-width: 75px;	
				width: 75px;
				padding:10px;
				height: $row-height;
			    text-align:center; 
	 			vertical-align:middle;
				input {
						height: 100%;
						width: 55px;
						text-align: center;
					}
				}

			.first-td{
				width: 100% !important;
				text-align: left;
				vertical-align: middle;
				input{
					width: 100%;
					text-align: left;
					
				} 
			}

			.actionTd{
				width: 55px;
				height: 55px;
			}	

			.editable-td{
				width: 80px;
			}
				 		
		}
	}

.table-view {
    font-size: $font-size-15;
    width: 100%;
    table-layout: fixed;
    
    .table-header {
        border-bottom: 1px solid $light-grey; 
        
        td {
            padding: 10px 0px;
        }
        
        a {
            color: $black;
            text-decoration: none;
            outline: none;
            
            i {
                color: $grey;
            }
            
            &.reverse {
                i {
                    @extend .fa-caret-up;
                }
            }
            
            &.selected {
                i {
                    @extend .fa-caret-down;
                    color: $blue;
                }
            }
        }
    }
    
    tbody {
        height: 100%;
        overflow-y: auto;
        
        .table-row {
            height: 70px;
            border-bottom: 1px solid $light-grey;
        }
    }
}
