@import "styles/_general.scss";

.header {
    background-color: $blue;
    height: 70px;
    
    .app-header {
         margin: 0 auto;
         border: none;
         
         .container {
            padding: 0px;
            margin: 0px;
            
            .navbar-collapse {
                padding: 0px;
                
                .nav>li {
                    text-align: center;
                    color: $white;
                    padding-top: 20px;
                    
                    i.fa {
                        font-size: 20px;
                    }
                    
                    &.active {
                        border-bottom: 7px solid $white;
                    }
                    
                    &.log-out {
                        min-width: 100px;
                        max-width: 110px;
                    }
                    
                    > a {
                        color: $white;
                        padding: 0px 25px;
                        font-size: 15px;
                    }
                    
                    > a:focus {
                        background-color: transparent;
                        outline: none;
                    }
                    
                    > a:hover{
                        background-color: transparent;
                    }
                }
            }
         }
    }
}

@media screen and (min-width: 1024px) {
    .app-header,
    .app-header .container {
        width: $pc-width;
    }
}

@media screen and (max-width: 768px) {
    .app-header,
    .app-header .container  {
        width: $tablet-width;
    }
}
