<acme-navbar creation-date="main.creationDate"></acme-navbar>
<div class="header-filters" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <custom-dropdown list="viewTemplCtrl.costCenters" on-select="viewTemplCtrl.filterByCostCenter(item)"></custom-dropdown>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="content">
    bla bla content1
</div>