<div class="content">
	<header>{{viewReqCtrl.requisition.costCenter}}</header>

	<!-- //todo:  create directiv for table -->
	<div class="requisition-tile-info">
		<div class="left-label">
			{{viewReqCtrl.requisition.reqDate |  date:'MMM-dd-yyyy'}} &nbsp;
			 <label class="label">{{viewReqCtrl.requisition.status}}</label>
		</div>

		<div class="right-label">
			<span class="highLightedText"> {{viewReqCtrl.requisition.reqDate | date:'MMM-dd-yyyy'}} </span>
		</div>			
	</div>	
	<div class="clear-float"></div>	

	<div class="requisition-tile-info">
		<div class="left-label">
			Created By <span class="highLightedText"> Frank Doe</span>
		</div>
		
		<div class="right-label">
			Closed By <span class="highLightedText"> Frank Doe</span>
		</div>
	</div>

	<div ng-switch on="viewReqCtrl.requisition.status">			
			<edit-table-directive ng-switch-when = "Open" dropdown-items="viewReqCtrl.reqItems" items-list="viewReqCtrl.requisition.RequisitionItems">
			</edit-table-directive>	

			<view-table-directive ng-switch-when = "Closed" dropdown-items="viewReqCtrl.reqItems" items-list="viewReqCtrl.requisition.RequisitionItems">
			</view-table-directive>		
	</div>	

	<div class="input-group-grey">
					<div style="padding-top:15px;" class="right-label">Total Requisition Cost: {{addReqCtrl.req.Cost}}</div>	
			</div>

			<div class="clear-float"></div>

			<div class="input-group-grey" style="">
				<view-collapse-content-directive title ="Notes" >			 
					<textarea placeholder="Notes"></textarea>			
				</view-collapse-content-directive>				
			</div>

</div>