<div class="content">
	<header>Requisition Name</header>

	<!-- //todo:  create directiv for table -->
	<div class="inputLineGroup">
		<div class="leftLabel">
			Jan 20 2016 <label class="label">Closed</label>
		</div>

		<div class="rightLabel">
			<span class="highLightedText"> Jan 20 2016 </span>
		</div>
	</div>	

	<div class="inputLineGroup">
		<div class="leftLabel">
			Created By <span class="highLightedText"> Frank Doe</span>
		</div>
		
		<div class="rightLabel">
			Closed By <span class="highLightedText"> Frank Doe</span>
		</div>
		
	</div>	

	<div ng-switch on="requsition.Status">
		<div ng-switch-when = "Opened">
				<add-req-item-table-directive items-list="requisitionCtrl.requisitionItems">
				</add-req-item-table-directive>
		</div>
		<div ng-switch-when = "Closed">

		</div>
	</div>	

</div>