  <acme-navbar creation-date="main.creationDate"></acme-navbar>
  <div class="header-filters" role="navigation">
    <div class="container">
        <div class="collapse navbar-collapse" id="js-navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="calendar-filter">
                    <div class="date-range-picker-wrap">
                    <textarea style="text-align:center;" date-range-picker range-picker-formatter-directive date-range-picker options="{locale: {format: 'MMMM D, YYYY'}}"  class="form-control date-picker" type="text" ng-model="allReqCtrl.datePicker.date " cols="10" rows="2" wrap ="hard">
                     </textarea> 
                     <i  class="fa fa-caret-down" ></i>      
                </div>  
                </li>
                <li class="requisition-filter">
                    <a ng-click="allReqCtrl.filterByState('open')" ng-class="{'selected': allReqCtrl.filtersModel.state === 'open' }">
                        <span class="number">5</span>
                        <br/>
                        Open</a>
                </li>
                <li class="requisition-filter">
                    <a ng-click="allReqCtrl.filterByState('closed')" ng-class="{'selected' : allReqCtrl.filtersModel.state === 'closed'}">
                        <span class="number">2</span>
                        <br/>
                        Closed
                    </a>
                </li>
                <li class="requisition-filter">
                    <a ng-click="allReqCtrl.filterByState()" ng-class="{'selected' : allReqCtrl.filtersModel.state === undefined}">
                        <span class="number">7</span>
                        <br/>
                        All  
                </a>
                </li>
                <li>
                    <custom-dropdown list="allReqCtrl.costCenters" on-select="allReqCtrl.filterByCostCenter(item)"></custom-dropdown>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <li class="add-requisition">
                    <a ui-sref="requisitions.add">
                        <i class="fa fa-plus"></i>
                    </a>
                </li>  
            </ul>
        </div>
    </div>
</div>
<div class="content">
    <table class="requisitions table-view" >
        <thead class="table-header">
            <tr>
                 <td class="cost-center">
                <a ng-click="allReqCtrl.orderBy('costCenter')" ng-class="allReqCtrl.getColumnCssClass('costCenter')">
                    Cost center <i class="fa fa-caret-down"></i>
                </a>
            </td>
            <td class="req-date">
                <a ng-click="allReqCtrl.orderBy('reqDate')" ng-class="allReqCtrl.getColumnCssClass('reqDate')">
                    Req. date <i class="fa fa-caret-down"></i>
                </a>
            </td>
            <td class="requisition-no">
                <a ng-click="allReqCtrl.orderBy('id')" ng-class="allReqCtrl.getColumnCssClass('id')">
                    Req.# <i class="fa fa-caret-down"></i>
                </a>
            </td>
            <td class="modified">
                <a ng-click="allReqCtrl.orderBy('modifyDate')" ng-class="allReqCtrl.getColumnCssClass('modifyDate')">
                    Last modified by/<span class="closed-by">Closed by</span> <i class="fa fa-caret-down"></i>
                </a>
            </td>
            </tr>
        </thead>
        <tbody>
        <tr  ui-sref="requisitions.view({ id: {{item.Id}}})" style ="cursor:pointer" class="requisition table-row" ng-repeat="item in filteredRequisitions = 
            (allReqCtrl.requisitions | filterRequisitions : allReqCtrl.filtersModel.costCenter :allReqCtrl.filtersModel.state 
            | orderBy : allReqCtrl.orderModel.column : allReqCtrl.orderModel.reverse)" 
            ng-class="{'closed' : item.status === 'Closed'}"
            ng-if="filteredRequisitions.length > 0">
            <td class="cost-center">
                {{item.costCenter}}<br/>
                <div class="status">{{item.status}}</div>
            </td>
            <td class="req-date" ng-bind-html="item.reqDate | dateFormat">
            </td>
            <td class="requisition-no">
                {{item.id}}
            </td>
            <td class="modified">
                <span ng-bind-html="item.modifyDate | dateFormat"<br/>
                <span class="user">{{item.modifiedBy}}</span>
            </td>
        </tr>
        <tr ng-if="filteredRequisitions.length == 0">
            <td colspan="5" class="no-items">No requisitions</td>
        </tr>
        </tbody>
    </table>
 </div>
