.header-filters {
    .custom-dropdown {
        button {
            padding-left: 25px;
        }
    }
}

.templates {
    .name {
        @extend .ellipsis;
        padding: 0 10px 0px 20px;
        width: 40%;
    }
    
    .cost-center {
        @extend .ellipsis;
        width: 20%;
        padding-right: 10px;
    }
    
    .created-date {
        width:15%;
    }
    
    .created-by {
        width: 20%;
    }
    
    .table-header {
        .name {
            padding-left: 20px;
        }
    }
    
    tbody {
        .table-row {
            .name {
                font-size: $font-size-17;
            }
            
            .cost-center, .user {
                color: $blue;
            }
        }
    }
}