<div>
	<table class="table requisitions-table">
		<thead>
			<tr class="unit-tr">
				<td class="first-td">Item name</td>
				<td class="select-td">Package Size</td>
				<td>Par</td>
				<td>Qty</td>
				<td class="editableTd">Total</td>
				<td class="action-td"></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-if="itemsList.length > 0" class="unit-tr" ng-repeat="reqItem in itemsList">
				<td class="first-td">{{reqItem.Name}}</td>
				<td class="select-td">
				<select  style="width:120px;height:35px;border:none" ng-model="reqItem.Id"
					data-ng-options="package.Id as package.Name  for package in packageSizes">    
				</select>
				</td>
				<td>{{reqItem.Par}}</td>
				<td ><input type="text" ng-model="reqItem.Quantity"/></td>
				<td class="editable-td">{{reqItem.Total | currency }}</td>
				<td clas="actionTd" ng-click="removeRequisitionItem(reqItem)">
					<button class="btn delete-button"><i class="fa fa-times"></i></button>
				</td>
			</tr>
			<tr class="empty-table" ng-if="itemsList.length == 0">
				<td  colspan="6">
					No Requisition Items
				</td>
			</tr>

			<tr ng-form="reqItemForm" class="unit-tr" ng-if="showAddRow">
				<td class="first-td">
					  <ui-select required on-select="onSelectCallback($item, $model)" ng-model="currentItem" theme="bootstrap">
					    <ui-select-match placeholder="Select or search a Request Item...">{{$select.selected.Name}}
					  </ui-select-match>
					    <ui-select-choices repeat="item in dropdownItems | filter: $select.search">
					      <div ng-bind-html="item.Name | highlight: $select.search"></div>					      
					    </ui-select-choices>
					  </ui-select>
				</td>
				<td class="select-td">
				<select  style="width:120px;height:35px;" required ng-model="currentItem.Id"
					data-ng-options="package.Id as package.Name  for package in packageSizes">    
				</select>
				</td>
				<td>{{currentItem.Par}}</td>
				<td><input type="number" required ng-model="currentItem.Quantity"/></td>
				<td class="editable-td">
					{{currentItem.Total  | currency:" $"}}</td>
				<td class="action-td"  ><button ng-click="addItem()" ng-disabled="reqItemForm.$invalid" class="btn check-button"><i class="fa fa-check"></i></button></td>
			</tr>
		</tbody>
	</table>

	<div class="line">
		<button ng-disabled="showAddRow" ng-click="addRequisitionItem()" class="btn addButton"><i class="fa fa-plus"></i> Add Item</button>
	</div>
</div>
