<acme-navbar creation-date="main.creationDate"></acme-navbar>

	<header>Add Requisition</header>
	<div style="padding-top:30px" class="inputLineGroup">
		
		<select  class="inputElement" ng-model="addReqCtrl.CostCenterId"
		data-ng-options="costCenter.Id as costCenter.Name  for costCenter in addReqCtrl.costCenters">    

	</select>

	<div>
		<p  class="input-group">
			<input type="text" class="form-control datePicker " uib-datepicker-popup="{{addReqCtrl.format}}" ng-model="addReqCtrl.dt" is-open="addReqCtrl.popup2.opened" datepicker-options="addReqCtrl.dateOptions" ng-required="true" close-text="Close" />
			<span  class="input-group-btn">
				<button  type="button" class="btn btn-default datePickerIcon" ng-click="addReqCtrl.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
			</span>
		</p>
	</div>

	</div>

<div class="inputLineGroup">		
	<!-- <div> -->
		<switch  style="float:left ; margin-right:10px;" id="enabled" name="enabled" ng-model="enabled" class="green noFocus"></switch>
		<span style="line-height:32px;">   Use Template</span>
	<!-- </div>			 -->
	<div class="rightLabel">Requisition nr: {{addReqCtrl.req.Cost}}</div>		
</div>

<!-- Requisition Items  Table-->
<add-req-item-table-directive items-list="addReqCtrl.requisitionItems">

</add-req-item-table-directive>


<div class="inputLineGroup">
		<div class="rightLabel">Total Requisition Cost: {{addReqCtrl.req.Cost}}</div>	
</div>

<div class="inputLineGroup">
	<textarea placeholder="Notes"></textarea>
</div>

<div class="buttonGroup line">
	<button class="btn actionButton cancelButton">Cancel</button>
	<button class="btn actionButton closeButton">Close Requisition</button>
	<button class="btn actionButton saveButtton">Save</button>
</div>
