<div>
	<table class="table requisitions-table">

		<thead>
			<tr class="unitTr">
				<td class="first-td">Item name</td>
				<td class="select-td">Package Size</td>				
				<td>Qty</td>
				<td class="editableTd">Total</td>				
			</tr>
		</thead>	

		<body>

			<tr ng-if="itemsList.length > 0" ng-repeat = "item in itemsList" class="unit-tr">
				<td>{{item.Name}}</td>
				<td>{{item.Unit}}</td>
				<td>{{item.Qty}}</td>
				<td>{{item.Total}}</td>
			</tr>

			<tr class="empty-table" ng-if="itemsList==undefined || itemsList.length == 0">
				<td  colspan="4">
					No Requisition Items
				</td>
			</tr>
		</body>
	</table>

</div>